 <nav class="navbar navbar-expand-lg navbar-light bg-white navi">
        <div class="row padded-container">
          <a class="navbar-brand" href="#"><img src="resources/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end my-justify-content-end" id="navbarNavDropdown">

          <ul class="navbar-nav primary-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Glory Center Community Church</a>
                <a class="dropdown-item" href="#">Glory Realms Ministry</a>
                <a class="dropdown-item" href="#">Pure Streams</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Broadcast
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Live</a>
                <a class="dropdown-item" href="#">Rebroadcast</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Partner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Store</a>
            </li>
          </ul>

          <ul class="navbar-nav action-btn">
          
            <li class="nav-item">
              <a class="btn btn-primary" href="ozmen.html">OZMen's Fellowship</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="#">Donate</a>
            </li>
          </ul>
        </div>

        </div>
        
      </nav>